body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: white;
}


/* Main container */
main {
  background-color: #000000;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.content-rubrik {
  text-align: center;
  padding: 1rem;
  color: white;
  background-color: #000000;
}

.content-rubrik h1, p {
  margin: 0;
}

/* Card Styling */
.card {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Subtle white glow */
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.02); /* Slight scaling on hover */
}

.card-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-content.reverse-layout {
  flex-direction: row-reverse;
}

.card-text {
  width: 50%;
  padding: 2rem;
  text-align: left;
}

.card-text h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card-text p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.card-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card-image video, .card-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.img {
  max-width: 600px;
  max-height: 40vh;
  width: calc(20rem + 15vw);
  height: auto;
}

/* Read More Button Styling */
.read-more {
  color: brown;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.read-more:hover {
  color: rgba(165, 42, 42, 0.747);
  text-shadow: 
      0 0 15px #ffffff, 
      0 0 30px #b87333,  
      0 0 40px #a0522d,  
      0 0 70px #8b4513,  
      0 0 100px #8b4513, 
      0 0 150px #5c3a1a;
  text-decoration: underline;
  animation: star-glow 2s infinite ease-in-out;
}

@keyframes star-glow {
  0%, 100% {
      text-shadow: 
          0 0 15px #ffffff, 
          0 0 30px #b87333, 
          0 0 40px #a0522d, 
          0 0 70px #8b4513, 
          0 0 100px #8b4513, 
          0 0 150px #5c3a1a;
  }
  50% {
      text-shadow: 
          0 0 10px #ffffff, 
          0 0 20px #b87333, 
          0 0 30px #a0522d, 
          0 0 50px #8b4513, 
          0 0 80px #8b4513, 
          0 0 120px #5c3a1a;
  }
}

/* footer style */

.footer-dark {
    background-color: #1a1a1a;
    color: #f0f9ff;
    padding: 50px 50px 20px 50px;
  }
  
  .container-footer {
    max-width: 1450px;
    margin: 0 auto;
  }
  
  .footer-dark h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .row {
    display: flex;
    flex-direction: row;
    
  }
  
  .footer-dark ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }
  .footer-dark ul li{
    padding: .5rem;
  }
  
  .footer-dark ul a {
    color: #f0f9ff;
    text-decoration: none;
    opacity: 0.7;
    font-size: 14px;
  }
  
  .footer-dark ul a:hover {
    opacity: 0.9;
    color: brown;
  }
  
  .footer-dark .item {
    margin-bottom: 0;
  }
  .footer-dark .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.footer-area {
  padding: 10px;
}
  
  .footer-dark .item.text {
    margin-bottom: 50px;
  }
  .footer-dark .item.text h3 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .footer-dark .item.text p {
    text-align: center;
    width: 70%;
    opacity: 0.7;
    font-size: 1rem;
  }

  .foot_mid_widget {
    display: flex;
    justify-content: center;
  }
  
  .footer-dark .copyright {
    text-align: center;
    font-size: 13px;
    opacity: 0.5;
    padding-top: 20px;
    margin-bottom: 0;
  }
  

@media (min-width: 1820px) {
    .main {
      display: flex;
      justify-content: center;
    }
    .main-container {
      max-width: 1450px;
    }
    .img {
      max-height: 15vh;
    }
}

  /* Responsive Design */
  @media (max-width: 767px) {
    .footer-dark .item {
      text-align: center;
      padding-bottom: 20px;
    }
    .footer-dark .row {
        flex-direction: column;
      }
  
    .footer-dark .item.text {
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 991px) {
  
    .footer-dark .col-md-3 {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .footer-dark .col-md-6 {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  


/* Center content when no media is present */
.card-content.no-media {
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
    .card {
        flex-direction: column; 
    }

    .main-container .card:nth-child(odd) .card-content {
      flex-direction: column;
    }


    .main-container .card:nth-child(even) .card-content {
      flex-direction: column;
    }


    .card-text {
        width: 100%; 
        padding-right: 0;
        text-align: center;
    }

    .card-image {
      display: block;
        width: 100%; 
    }
    .card-image img {
      width: calc(60% + 25vw);
    }
    .card-content {
      display: flex;
      flex-direction: column;
    }

    .footer-dark {
      padding: .7rem;
    }
}
